pkgbase = alterlinux-welcome-page
	pkgdesc = A simple script to open the official AlterLinux website
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/FascodeNet/alterlinux-live-tools/tree/master/alterlinux-welcome-page
	arch = any
	license = SUSHI-WARE
	depends = xdg-user-dirs
	optdepends = chromium: To open the page
	optdepends = google-chrome: To open the page
	optdepends = firefox: To open the page
	source = https://github.com/FascodeNet/alterlinux-live-tools/archive/v1.1.zip
	md5sums = SKIP

pkgname = alterlinux-welcome-page

