pkgbase = alterlinux-xfce-conf
	pkgdesc = AlterLinux Xfce Settings
	pkgver = 1.8
	pkgrel = 1
	url = https:/fascode.net
	arch = any
	depends = alterlinux-wallpapers
	conflicts = alterlinux-xfce-conf-git
	source = https://github.com/FascodeNet/alterlinux-xfce-conf/archive/v1.8.zip
	md5sums = 00219f29c12f81df3b91cc394863abd9

pkgname = alterlinux-xfce-conf

