pkgbase = alterlinux-live-tools
	pkgdesc = Scripts required for live environment (meta package)
	pkgver = 1.0
	pkgrel = 1
	url = https://github.com/FascodeNet/alterlinux-live-tools
	arch = any
	license = SUSHI-WARE
	depends = alterlinux-gtk-bookmarks
	depends = alterlinux-welcome-page

pkgname = alterlinux-live-tools

