pkgbase = alterlinux-fcitx-conf-git
	pkgdesc = AlterLinux fcitx Settings
	pkgver = r2.904c714
	pkgrel = 1
	url = https:/fascode.net
	arch = any
	depends = alterlinux-wallpapers
	conflicts = alterlinux-fcitx-conf
	source = git+https://github.com/SereneTeam/alterlinux-fcitx-conf.git
	sha256sums = SKIP

pkgname = alterlinux-fcitx-conf-git

