pkgbase = filesystem
	pkgdesc = Base Alter Linux files
	pkgver = 2021.01.24
	pkgrel = 1
	url = https://fascode.net/en/projects/linux/alter/
	arch = x86_64
	arch = i686
	license = GPL
	depends = iana-etc
	provides = alterlinux-filesystem=2021.01.24
	backup = etc/arch-release
	backup = etc/crypttab
	backup = etc/fstab
	backup = etc/group
	backup = etc/gshadow
	backup = etc/host.conf
	backup = etc/hosts
	backup = etc/issue
	backup = etc/ld.so.conf
	backup = etc/motd
	backup = etc/nsswitch.conf
	backup = etc/passwd
	backup = etc/profile
	backup = etc/resolv.conf
	backup = etc/securetty
	backup = etc/shadow
	backup = etc/shells
	backup = usr/lib/os-release
	source = arch-release
	source = crypttab
	source = env-generator
	source = fstab
	source = group
	source = gshadow
	source = host.conf
	source = hosts
	source = issue
	source = letter-to-you
	source = ld.so.conf
	source = locale.sh
	source = motd
	source = nsswitch.conf
	source = os-release
	source = passwd
	source = profile
	source = resolv.conf
	source = securetty
	source = shadow
	source = shells
	source = sysctl
	source = sysusers
	source = tmpfiles
	source = archlinux.svg
	source = archlinux.png
	source = archlinux-logo.svg
	source = archlinux-logo.png
	md5sums = c1a04758ef1c439a9a4056ba321384ee
	md5sums = 5fa6674df7645d7f5895f2d12b4ef4e9
	md5sums = 2b0344e9639f35f3c0d5637a23556089
	md5sums = e33f6dfdd61978fcb3ddf1431286e05a
	md5sums = 7fed1e1fb855e41a6d64d41f8521d69a
	md5sums = 1c1e3b08acfa286f4b417c49de3e4366
	md5sums = 7d119a9cce152aa182fb3392ddeecea7
	md5sums = a1315ea3e2b64d197b6efaf9c14ff778
	md5sums = 7813c481156f6b280a3ba91fc6236368
	md5sums = 216e9a52537055eb4a72eb0015f81dcc
	md5sums = 5deb9f890a4d08a245e9752ede77271e
	md5sums = 580cf8b59eebfaac4fad373ffadc9912
	md5sums = d41d8cd98f00b204e9800998ecf8427e
	md5sums = 01e5664cd59ca4740d68165145e174b9
	md5sums = b7a39469ebdcaec2ce5331d3d69466cc
	md5sums = 5182ac38a0de85da8ade93ef71975ca4
	md5sums = 448fe7cbcb566e8d318dc0db0c9cb710
	md5sums = 0ee015fad07732676d9488ae498eed41
	md5sums = f04bcb2803afc4dcb95670fe87343b4d
	md5sums = 815652599be54fd3607cf276e89a0a19
	md5sums = 5765dc3a42c6d312d217a31bd2dd273e
	md5sums = a51847c012555c843dbdf8df0da171d3
	md5sums = af7832eabaac9804c22f1f2b53816a49
	md5sums = 0267a3a463f35eec8a31f40a720dfd86
	md5sums = b610496b9168804ff039b836c4b86209
	md5sums = 6cb6f48787a243c85b5bdbacbb5546e8
	md5sums = d97567df3fea5f0c48f421a2b533a465
	md5sums = 6f9f95e264037be09dea524d47055c02

pkgname = filesystem

