pkgbase = alterlinux-fcitx-conf
	pkgdesc = AlterLinux fcitx Settings
	pkgver = 1.1
	pkgrel = 2
	url = https:/fascode.net
	arch = any
	conflicts = alterlinux-fcitx-conf-git
	source = https://github.com/SereneTeam/alterlinux-fcitx-conf/archive/v1.1.zip
	sha256sums = SKIP

pkgname = alterlinux-fcitx-conf

